In [268]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [269]:
df=pd.read_csv('C:/Users/shiva/Desktop/german_credit.csv')
df

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,no checking account,18,all credits at this bank paid back duly,car (used),1049,unknown/no savings account,< 1 yr,< 20,female : non-single or male : single,none,...,car or other,21,none,for free,1,skilled employee/official,0 to 2,no,no,good
1,no checking account,9,all credits at this bank paid back duly,others,2799,unknown/no savings account,1 <= ... < 4 yrs,25 <= ... < 35,male : married/widowed,none,...,unknown / no property,36,none,for free,3-Feb,skilled employee/official,3 or more,no,no,good
2,... < 0 DM,12,no credits taken/all credits paid back duly,retraining,841,... < 100 DM,4 <= ... < 7 yrs,25 <= ... < 35,female : non-single or male : single,none,...,unknown / no property,23,none,for free,1,unskilled - resident,0 to 2,no,no,good
3,no checking account,12,all credits at this bank paid back duly,others,2122,unknown/no savings account,1 <= ... < 4 yrs,20 <= ... < 25,male : married/widowed,none,...,unknown / no property,39,none,for free,3-Feb,unskilled - resident,3 or more,no,yes,good
4,no checking account,12,all credits at this bank paid back duly,others,2171,unknown/no savings account,1 <= ... < 4 yrs,< 20,male : married/widowed,none,...,car or other,38,bank,rent,3-Feb,unskilled - resident,0 to 2,no,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking account,24,no credits taken/all credits paid back duly,furniture/equipment,1987,unknown/no savings account,1 <= ... < 4 yrs,25 <= ... < 35,male : married/widowed,none,...,unknown / no property,21,none,for free,1,unskilled - resident,3 or more,no,no,bad
996,no checking account,24,no credits taken/all credits paid back duly,others,2303,unknown/no savings account,>= 7 yrs,< 20,male : married/widowed,co-applicant,...,unknown / no property,45,none,rent,1,skilled employee/official,0 to 2,no,no,bad
997,... >= 200 DM / salary for at least 1 year,21,all credits at this bank paid back duly,others,12680,... >= 1000 DM,>= 7 yrs,< 20,male : married/widowed,none,...,real estate,30,none,own,1,manager/self-empl./highly qualif. employee,0 to 2,yes (under customer name),no,bad
998,... < 0 DM,12,no credits taken/all credits paid back duly,furniture/equipment,6468,... >= 1000 DM,unemployed,25 <= ... < 35,male : married/widowed,none,...,real estate,52,none,rent,1,manager/self-empl./highly qualif. employee,0 to 2,yes (under customer name),no,bad
999,no checking account,30,no credits taken/all credits paid back duly,car (used),6350,... >= 1000 DM,>= 7 yrs,< 20,male : married/widowed,none,...,car or other,31,none,rent,1,skilled employee/official,0 to 2,no,no,bad

In [270]:
df.shape

(1000, 21)

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   status                   1000 non-null   object
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   object
 3   purpose                  1000 non-null   object
 4   amount                   1000 non-null   int64
 5   savings                  1000 non-null   object
 6   employment_duration      1000 non-null   object
 7   installment_rate         1000 non-null   object
 8   personal_status_sex      1000 non-null   object
 9   other_debtors            1000 non-null   object
 10  present_residence        1000 non-null   object
 11  property                 1000 non-null   object
 12  age                      1000 non-null   int64
 13  other_installment_plans  1000 non-null   object
 14  housing                  1000 non-null   object
 15  number_credits           1000 non-null   object
 16  job                      1000 non-null   object
 17  people_liable            1000 non-null   object
 18  telephone                1000 non-null   object
 19  foreign_worker           1000 non-null   object
 20  credit_risk              1000 non-null   object
dtypes: int64(3), object(18)
memory usage: 164.2+ KB

In [272]:
df.isnull().sum()

status                     0
duration                   0
credit_history             0
purpose                    0
amount                     0
savings                    0
employment_duration        0
installment_rate           0
personal_status_sex        0
other_debtors              0
present_residence          0
property                   0
age                        0
other_installment_plans    0
housing                    0
number_credits             0
job                        0
people_liable              0
telephone                  0
foreign_worker             0
credit_risk                0
dtype: int64

In [273]:
df.duplicated().sum()

0

In [274]:
df.describe()

          duration       amount         age
count  1000.000000   1000.00000  1000.00000
mean     20.903000   3271.24800    35.54200
std      12.058814   2822.75176    11.35267
min       4.000000    250.00000    19.00000
25%      12.000000   1365.50000    27.00000
50%      18.000000   2319.50000    33.00000
75%      24.000000   3972.25000    42.00000
max      72.000000  18424.00000    75.00000

In [275]:
df['status'].unique()

array(['no checking account', '... < 0 DM',
       '... >= 200 DM / salary for at least 1 year', '0<= ... < 200 DM'],
      dtype=object)

In [276]:
oe1=[]
for i in df['status'].unique():
    oe1.append(i)
oe1[2],oe1[3]=oe1[3],oe1[2]
oe1

['no checking account',
 '... < 0 DM',
 '0<= ... < 200 DM',
 '... >= 200 DM / salary for at least 1 year']

In [277]:
df['duration'].unique()

array([18,  9, 12, 10,  8,  6, 24, 11, 30, 48, 36, 15, 42, 21, 27, 33, 28,
        4, 47, 14, 39, 60,  5, 22, 54, 13, 16,  7, 20, 26, 45, 72, 40],
      dtype=int64)

In [278]:
df['credit_history'].unique()

array(['all credits at this bank paid back duly',
       'no credits taken/all credits paid back duly',
       'existing credits paid back duly till now',
       'delay in paying off in the past',
       'critical account/other credits elsewhere'], dtype=object)

In [279]:
oe2=[]
for i in df['credit_history'].unique():
    oe2.append(i)
oe2=oe2[-1::-1]
oe2

['critical account/other credits elsewhere',
 'delay in paying off in the past',
 'existing credits paid back duly till now',
 'no credits taken/all credits paid back duly',
 'all credits at this bank paid back duly']

In [280]:
df['purpose'].unique()

array(['car (used)', 'others', 'retraining', 'furniture/equipment',
       'car (new)', 'business', 'domestic appliances', 'radio/television',
       'repairs', 'vacation'], dtype=object)

In [281]:
oh=[]
oh.append('purpose')

In [282]:
df['savings'].unique()

array(['unknown/no savings account', '... <  100 DM',
       '100 <= ... <  500 DM', '... >= 1000 DM', '500 <= ... < 1000 DM'],
      dtype=object)

In [283]:
oe3=[]
for i in df['savings'].unique():
    oe3.append(i)
oe3[3],oe3[4]=oe3[4],oe3[3]
oe3

['unknown/no savings account',
 '... <  100 DM',
 '100 <= ... <  500 DM',
 '500 <= ... < 1000 DM',
 '... >= 1000 DM']

In [284]:
df['employment_duration'].unique()

array(['< 1 yr', '1 <= ... < 4 yrs', '4 <= ... < 7 yrs', 'unemployed',
       '>= 7 yrs'], dtype=object)

In [285]:
oe4=[]
for i in df['employment_duration'].unique():
    oe4.append(i)
oe4[-1],oe4[-2]=oe4[-2],oe4[-1]
temp=[]
temp.append(oe4[-1])
for j in range(0,4):
    temp.append(oe4[j])
oe4=temp
oe4

['unemployed', '< 1 yr', '1 <= ... < 4 yrs', '4 <= ... < 7 yrs', '>= 7 yrs']

In [286]:
df['installment_rate'].unique()

array(['< 20', '25 <= ... < 35', '20 <= ... < 25', '>= 35'], dtype=object)

In [287]:
oe5=[]
for i in df['installment_rate'].unique():
    oe5.append(i)
oe5[1],oe5[2]=oe5[2],oe5[1]
oe5

['< 20', '20 <= ... < 25', '25 <= ... < 35', '>= 35']

In [288]:
df['personal_status_sex'].unique()

array(['female : non-single or male : single', 'male : married/widowed',
       'female : single', 'male : divorced/separated'], dtype=object)

In [289]:
oh.append('personal_status_sex')

In [290]:
df['other_debtors'].unique()

array(['none', 'guarantor', 'co-applicant'], dtype=object)

In [291]:
oh.append('other_debtors')
oh

['purpose', 'personal_status_sex', 'other_debtors']

In [292]:
df['present_residence'].unique()

array(['>= 7 yrs', '1 <= ... < 4 yrs', '4 <= ... < 7 yrs', '< 1 yr'],
      dtype=object)

In [293]:
oe6=[]
for i in df['present_residence'].unique():
    oe6.append(i)
oe6[0],oe6[-1]=oe6[-1],oe6[0]
oe6

['< 1 yr', '1 <= ... < 4 yrs', '4 <= ... < 7 yrs', '>= 7 yrs']

In [294]:
df['property'].unique()

array(['car or other', 'unknown / no property',
       'building soc. savings agr./life insurance', 'real estate'],
      dtype=object)

In [295]:
oh.append('property')

In [296]:
df['age'].unique()

array([21, 36, 23, 39, 38, 48, 40, 65, 24, 31, 44, 25, 37, 49, 33, 26, 51,
       29, 56, 47, 34, 28, 41, 58, 61, 30, 63, 27, 45, 43, 52, 22, 60, 32,
       35, 42, 59, 54, 64, 46, 74, 50, 20, 55, 53, 19, 57, 66, 68, 70, 67,
       75, 62], dtype=int64)

In [297]:
df['other_installment_plans'].unique()

array(['none', 'bank', 'stores'], dtype=object)

In [298]:
oh.append('other_installment_plans')

In [299]:
df['housing'].unique()

array(['for free', 'rent', 'own'], dtype=object)

In [300]:
oh.append('housing')

In [301]:
df['number_credits'].unique()

array(['1', '3-Feb', '5-Apr', '>= 6'], dtype=object)

In [302]:
df['number_credits'].value_counts()

1        633
3-Feb    333
5-Apr     28
>= 6       6
Name: number_credits, dtype: int64

In [303]:
df=df.drop('number_credits',axis=1)

In [304]:
df['job'].unique()

array(['skilled employee/official', 'unskilled - resident',
       'unemployed/unskilled - non-resident',
       'manager/self-empl./highly qualif. employee'], dtype=object)

In [305]:
oe7=[]
for i in df['job'].unique():
    oe7.append(i)
oe7[0],oe7[2]=oe7[2],oe7[0]
oe7

['unemployed/unskilled - non-resident',
 'unskilled - resident',
 'skilled employee/official',
 'manager/self-empl./highly qualif. employee']

In [306]:
df['people_liable'].unique()

array(['0 to 2', '3 or more'], dtype=object)

In [307]:
oe8=[]
for i in df['people_liable'].unique():
    oe8.append(i)
oe8

['0 to 2', '3 or more']

In [308]:
df['telephone'].unique()

array(['no', 'yes (under customer name)'], dtype=object)

In [309]:
oe9=[]
for i in df['telephone'].unique():
    oe9.append(i)
oe9

['no', 'yes (under customer name)']

In [310]:
df['foreign_worker'].unique()

array(['no', 'yes'], dtype=object)

In [311]:
oe10=[]
for i in df['foreign_worker'].unique():
    oe10.append(i)
oe10[0],oe10[1]=oe10[1],oe10[0]
oe10

['yes', 'no']

In [312]:
from sklearn.preprocessing import OrdinalEncoder
category_mapping = {'status': oe1, 'credit_history': oe2,'savings':oe3 ,'employment_duration':oe4 ,'installment_rate':oe5 ,'present_residence': oe6,'job':oe7 ,'people_liable':oe8 ,'telephone':oe9 ,'foreign_worker':oe10 }
for column, categories in category_mapping.items():
    encoder = OrdinalEncoder(categories=[categories])
    df[column] = encoder.fit_transform(df[[column]])
df

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,present_residence,property,age,other_installment_plans,housing,job,people_liable,telephone,foreign_worker,credit_risk
0,0.0,18,4.0,car (used),1049,0.0,1.0,0.0,female : non-single or male : single,none,3.0,car or other,21,none,for free,2.0,0.0,0.0,1.0,good
1,0.0,9,4.0,others,2799,0.0,2.0,2.0,male : married/widowed,none,1.0,unknown / no property,36,none,for free,2.0,1.0,0.0,1.0,good
2,1.0,12,3.0,retraining,841,1.0,3.0,2.0,female : non-single or male : single,none,3.0,unknown / no property,23,none,for free,1.0,0.0,0.0,1.0,good
3,0.0,12,4.0,others,2122,0.0,2.0,1.0,male : married/widowed,none,1.0,unknown / no property,39,none,for free,1.0,1.0,0.0,0.0,good
4,0.0,12,4.0,others,2171,0.0,2.0,0.0,male : married/widowed,none,3.0,car or other,38,bank,rent,1.0,0.0,0.0,0.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,24,3.0,furniture/equipment,1987,0.0,2.0,2.0,male : married/widowed,none,3.0,unknown / no property,21,none,for free,1.0,1.0,0.0,1.0,bad
996,0.0,24,3.0,others,2303,0.0,4.0,0.0,male : married/widowed,co-applicant,0.0,unknown / no property,45,none,rent,2.0,0.0,0.0,1.0,bad
997,3.0,21,4.0,others,12680,4.0,4.0,0.0,male : married/widowed,none,3.0,real estate,30,none,own,3.0,0.0,1.0,1.0,bad
998,1.0,12,3.0,furniture/equipment,6468,4.0,0.0,2.0,male : married/widowed,none,0.0,real estate,52,none,rent,3.0,0.0,1.0,1.0,bad
999,0.0,30,3.0,car (used),6350,4.0,4.0,0.0,male : married/widowed,none,3.0,car or other,31,none,rent,2.0,0.0,0.0,1.0,bad

In [313]:
oh

['purpose',
 'personal_status_sex',
 'other_debtors',
 'property',
 'other_installment_plans',
 'housing']

In [314]:
# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=oh)
df_encoded

,status,duration,credit_history,amount,savings,employment_duration,installment_rate,present_residence,age,job,...,property_building soc. savings agr./life insurance,property_car or other,property_real estate,property_unknown / no property,other_installment_plans_bank,other_installment_plans_none,other_installment_plans_stores,housing_for free,housing_own,housing_rent
0,0.0,18,4.0,1049,0.0,1.0,0.0,3.0,21,2.0,...,0,1,0,0,0,1,0,1,0,0
1,0.0,9,4.0,2799,0.0,2.0,2.0,1.0,36,2.0,...,0,0,0,1,0,1,0,1,0,0
2,1.0,12,3.0,841,1.0,3.0,2.0,3.0,23,1.0,...,0,0,0,1,0,1,0,1,0,0
3,0.0,12,4.0,2122,0.0,2.0,1.0,1.0,39,1.0,...,0,0,0,1,0,1,0,1,0,0
4,0.0,12,4.0,2171,0.0,2.0,0.0,3.0,38,1.0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,24,3.0,1987,0.0,2.0,2.0,3.0,21,1.0,...,0,0,0,1,0,1,0,1,0,0
996,0.0,24,3.0,2303,0.0,4.0,0.0,0.0,45,2.0,...,0,0,0,1,0,1,0,0,0,1
997,3.0,21,4.0,12680,4.0,4.0,0.0,3.0,30,3.0,...,0,0,1,0,0,1,0,0,1,0
998,1.0,12,3.0,6468,4.0,0.0,2.0,0.0,52,3.0,...,0,0,1,0,0,1,0,0,0,1
999,0.0,30,3.0,6350,4.0,4.0,0.0,3.0,31,2.0,...,0,1,0,0,0,1,0,0,0,1

In [315]:
y=df_encoded['credit_risk']
X=df_encoded.drop('credit_risk',axis=1)
y

0      good
1      good
2      good
3      good
4      good
       ...
995     bad
996     bad
997     bad
998     bad
999     bad
Name: credit_risk, Length: 1000, dtype: object

In [316]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
# Fit and transform the selected column
y=encoder.fit_transform(y)
y=pd.Series(y)
y

0      1
1      1
2      1
3      1
4      1
      ..
995    0
996    0
997    0
998    0
999    0
Length: 1000, dtype: int32

In [317]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the LogisticRegression model
model1 = LogisticRegression()

# Train the model
model1.fit(X_train, y_train)

# Predict on the test set
y_pred = model1.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.75

C:\Users\shiva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [318]:
from sklearn.svm import SVC
# Initialize the SVC model
model2 = SVC()

# Train the model
model2.fit(X_train, y_train)

# Predict on the test set
y_pred = model2.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.705

In [319]:
from sklearn.naive_bayes import GaussianNB
# Initialize the Gaussian Naive Bayes model
model3 = GaussianNB()

# Train the model
model3.fit(X_train, y_train)

# Predict on the test set
y_pred = model3.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Naive Bayes Accuracy:', accuracy)

Naive Bayes Accuracy: 0.71

In [320]:
from sklearn.neighbors import KNeighborsClassifier


# Initialize the KNN model
model4 = KNeighborsClassifier(n_neighbors=5)  # Specify the number of neighbors

# Train the model
model4.fit(X_train, y_train)

# Predict on the test set
y_pred = model4.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('KNN Accuracy:', accuracy)

KNN Accuracy: 0.65

In [321]:
from sklearn.tree import DecisionTreeClassifier
# Initialize the Decision Tree model
model5 = DecisionTreeClassifier()

# Train the model
model5.fit(X_train, y_train)

# Predict on the test set
y_pred = model5.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Decision Tree Accuracy:', accuracy)

Decision Tree Accuracy: 0.705

In [322]:
from sklearn.ensemble import VotingClassifier
# Initialize the individual models
# model1 = LogisticRegression()
# model2 = GaussianNB()
# model3 = DecisionTreeClassifier()

# Initialize the VotingClassifier
voting_model = VotingClassifier(estimators=[('lr', model1), ('svm', model2), ('dt', model5)], voting='hard')

# Train the VotingClassifier
voting_model.fit(X_train, y_train)

# Predict on the test set
y_pred = voting_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print('Voting Ensemble Accuracy:', accuracy)

Voting Ensemble Accuracy: 0.76

C:\Users\shiva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(